<!-- SIDE BAR -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" [mode]="isMobile() ? 'over' : 'side'">
      <h2 class="w-100 m-100">IPEM 160</h2>
      <mat-nav-list>
        <a routerLink="home" mat-list-item>Inicio</a>
        <a routerLink="cursos" mat-list-item>Alumnos</a>
      </mat-nav-list>
    </mat-drawer>

<!-- TOOL BAR -->
    <mat-toolbar>
        <button type="button" mat-icon-button (click)="drawer.toggle()" class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="fs-2">Hipolito Vieytes</span>
        <span class="example-spacer">°</span>

        <a (click)="logOut()">
          <button mat-icon-button class="example-icon">
            <mat-icon>login</mat-icon>
          </button>
        </a>
    </mat-toolbar>

    <!-- MAIN START -->
    
    <main style="padding: 15px;">
    <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
  